<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/livecanvas-team/ninjabootstrap/dist/css/bootstrap.min.css"
        media="all">

</head>

<body>

    <%- include('header') %>

        <div class="container py-5">
            <div class="row">
                <div class="col-md-4 align-self-center">
                    <div class="lc-block border-top py-4" style="letter-spacing:10px">
                        <div editable="rich">
                            <h2><strong>
                                    <%= post.title %>
                                </strong></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="lc-block">
                        <div editable="rich">

                            <p>
                                <%= post.content %>
                            </p>

                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Edit content</button>
                            <form action="/post/<%= post.id %>/delete" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-secondary">Delete post</button>
                            </form>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Do you want to edit the post?
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="editForm" action="/post/<%= post.id %>/edit" method="POST">
                                                <div class="mb-3">
                                                    <label for="message-text" class="col-form-label">Content:</label>
                                                    <textarea name="content" class="form-control"
                                                        rows="5"><%= post.content %></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary" form="editForm">Save
                                                changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <%- include('footer') %>

            <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>

            <script>
                var exampleModal = document.getElementById('exampleModal')
                exampleModal.addEventListener('show.bs.modal', function (event) {
                    // Button that triggered the modal
                    var button = event.relatedTarget

                })
            </script>

</body>

</html>